* {
  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}

::selection {
  background-color: var(--VeryDarkGray);
  color: var(--White);
}

html {
  font-family: League Spartan;
  font-size: 1rem;
  color: var(--Black);
}

h1 {
  font-size: 2.8rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1;
  text-wrap: balance;
}

h2 {
  font-size: 1.1rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 6px;
}

p {
  color: var(--DarkGray);
  max-width: 75ch;
  transition: all 1s ease;
}

header {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  color: white;
  padding-top: 2.5rem;
  padding-left: 1rem;

  img {
    height: fit-content;
    z-index: 2;
    padding-inline: 3rem;
    pointer-events: none;
    user-select: none;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    padding: 20px;
    text-transform: lowercase;
    font-weight: 500;
    align-items: center;

    li {
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline solid 2px;
        text-underline-offset: 0.75rem;
        transition: all 0.3s ease;
      }
    }
  }
}

.mobile-nav {
  display: none;
}

.mobile-nav-list {
  justify-content: space-between;
  padding-inline: 2rem;
}

.button-close {
  img {
    padding-inline: 1rem;
  }
}

.mobile-links {
  display: flex;
  gap: 2rem;
}

.desktop-nav {
  display: flex;
}

[popover] {
  position: absolute;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 6rem;
  border: none;
  padding: 0.25em;
  overflow: hidden;
  color: CanvasText;
  background-color: Canvas;
}

.hero {
  display: grid;
  grid-template-columns: 59% 41%;
  justify-content: center;
  height: 67.5vh;
  min-height: 534px;
}

.hero-img {
  width: 100%;
  min-height: 534px;
  background-size: cover;

  img {
    width: 100%;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding-inline: 5.6rem;
  padding-bottom: 30px;
  position: relative;
}

.shop-link {
  display: flex;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.9rem;
  text-decoration: none;
  color: var(--Black);
  font-weight: 500;
  user-select: none;

  &:hover {
    color: var(--DarkGray);
  }

  &::after {
    content: url("../images/icon-arrow.svg");
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }
}

.arrows {
  background-color: black;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 28.2%;
}

.prev-btn,
.next-btn {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--VeryDarkGray);
  }
}

.about-section {
  display: grid;
  grid-template-columns: 29.5% 41% 29.5%;
  justify-content: center;
  align-items: center;
  height: 32.5vh;
  min-height: 260px;
}

.about-img {
  width: 100%;
  height: 100%;
  min-height: 260px;
}

.about-img-dark {
  background: url(../images/image-about-dark.jpg) no-repeat center;
  background-size: cover;
}

.about-img-light {
  background: url(../images/image-about-light.jpg) no-repeat center;
  background-size: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding-inline: 2.8rem;
  margin-inline: auto;
  gap: 1rem;
}

.hero h1,
.hero p {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.hero h1.fade-out,
.hero p.fade-out {
  opacity: 0;
}

@media screen and (max-width: 1380px) {
  .hero {
    grid-template-columns: 55% auto;
  }

  .hero-text {
    padding-inline: 4rem;
  }

  .arrows {
    width: 44.5%;
  }

  .about-section {
    grid-template-columns: 25% auto 25%;
    min-height: 220px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    grid-template-columns: unset;
    justify-content: unset;
  }

  .hero-img {
    min-height: 400px;
    background-position: center;
  }

  .hero-text {
    padding-inline: 2rem;
    padding-block: 3rem;
  }

  .arrows {
    display: none;
  }

  .about-section {
    grid-template-columns: 42% auto;
  }

  .about-text {
    padding-inline: 2rem;
  }

  .about-img-light {
    display: none;
  }
}

@media screen and (max-width: 674px) {
  header {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 22px;
  }

  button {
    background: none;
    border: none;
    width: fit-content;
    height: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .about-section {
    grid-template-columns: auto;
  }

  .about-text {
    padding-block: 3rem;
    padding-inline: 2rem;
  }

  .about-img {
    min-height: 200px;
  }

  .about-img-light {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1920px) {
  .hero {
    height: 60vh;
  }

  .about-section {
    height: 40vh;
  }
}
